body {
  padding: 0 ;
	margin: 0;
}

/*shared styles*/
.blue-section {
  display: block;
  background-color: #1F2937;
  font-family: roboto, courier;
}

.white-text {
	color: #E5E7EB;
	font-size: 18px;
	font-weight: 300;
}

/*navbar*/

/*header*/
        
/*section1*/
       
/*section2*/
        

/*section3*/
       

/*footer*/
