body {
  padding: 0 200px;
  font-family: Roboto;
  color: #FFF;
  }
/*navbar*/

/*header*/
        
/*section1*/
       
/*section2*/
        

/*section3*/
.row {
  display: block;
  Padding: 25px 50px;
  background: #3882F6;
  border: #3882F6 solid 1px;
  border-radius: 5px;
}
.column{
  display: inline-block;
  }
.column1 {  
  padding: 0 50px;
  width: 500px;
  }
  .upperText{
  font-weight: 700;
  }  
  .bottomText{
  font-weight: 20;
}    
.column2 {
  width: 30%;
  }
.ButtonContainer{
  position: relative;
}
.column2 button{
  position: absolute;
  top: -35px;
  margin-left: 50%;
  background-color: #3882F6;
  color:#FFF;
  border: #FFF solid 1px;
  border-radius: 3px;
  padding: 5px 15px;
}    
/*footer*/
